.divContainerForm {
    padding: 50px 50px;
    color: white;    
    background-image: linear-gradient(#6562CF, #3F4D79);
}

.button-submit {
    text-align: center;
}

.btnEnviar {
    font-family: 'Niramit', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border-radius: 15px;
    padding: 15px 40px;
}

.divContainerContato {
    align-self: center;
    margin-top: 100px
}

.textNossosCanais {
    font-family: 'Lalezar', cursive;
    font-size: 61px;
    color: #074680;
    margin-bottom: 100px;
    text-align: center
}

.containerContatos {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

.containerContatosLine {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 335px
}

.contatoSingleFundo {
    background-image: linear-gradient(#6562CF, #3F4D79);
    width: 49.99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.contatoSingleFundo:hover {
    border: 2px solid #074680;
    background-image: linear-gradient(white, white);
    text-shadow: 6px 4px 4px rgb(7, 70, 128);
}

.contatoSingleFundo:hover, .contatoSingleTransparent:hover {
    text-decoration: none;
}

.contatoSingleTransparent {
    border: 2px solid #074680;
    width: 49.99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contatoSingleTransparent:hover {
    background-image: linear-gradient(#6562CF, #3F4D79);
    border: none;
}

.contatoIconTransparent {
    color: #fff;
    text-shadow: 2px 2px 2px #fffdfd;
    font-size: 150px;
}

.contatoIconTransparent:hover {
    color: #074680;
    text-shadow: 6px 4px 4px rgba(7, 70, 128, 0.25);
}

.contatoIconFundo {
    color: #074680;
    text-shadow: 6px 4px 4px rgba(7, 70, 128, 0.25);
    font-size: 150px;
}

.textContatoTransparent {
    font-family: Rubik;
    font-weight: Medium;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1.5px;
    margin-top: 20px;
}

.textContatoTransparent:hover {

}

.textContatoFundo {
    font-family: Rubik;
    font-weight: Medium;
    font-size: 18px;
    color: #074680;
    letter-spacing: 1.5px;
    margin-top: 20px
}

@media only screen and (max-width: 988px) {
    .textNossosCanais {
        display: none
    }
    .divContainerContato {
        margin-top: 100px
    }
    .containerContatos {
        margin: 0
    }
    .containerContatosLine {
        flex-direction: column;
        margin: 0;
        height: 242px
    }
    .contatoSingleFundo, .contatoSingleTransparent {
        width: 100%;
        height: 121px
    }
    .contatoSingleTransparent {
        border: 0 solid transparent
    }
    .contatoIconTransparent, .contatoIconFundo {
        font-size: 40px
    }
    .textContatoTransparent, .textContatoFundo {
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 14px
    }
    .contatoSingleLeft {
        background-image: linear-gradient(#24266B, rgba(21, 107, 155, 0.9));
        color: #fff!important
    }
    .contatoSingleRight {
        background-image: none
    }
    .contatoIconLeft {
        color: #fff;
        text-shadow: 6px 4px 4px #fffdfd
    }
    .contatoIconRight {
        color: #074680;
        text-shadow: 6px 4px 4px rgba(7, 70, 128, 0.25)
    }
    .textContatoRight {
        color: #074680
    }
    .textContatoLeft {
        color: #fff
    }
}