.divServicos {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
}

.divServico {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    align-self: start;
    width: 100%;
    padding: 90px 0 ;
}

.divServicoalt {
    background-image: linear-gradient(#6562CF, #3F4D79);
}

.descServicoalt {
    color: white;
    font-family: 'Niramit', sans-serif;
    font-size: 22px;
    text-align: center;
    align-self: center;
    width: 516px;
}

.divImgServico {
    margin-left: 20px;
    margin-right: 30px;
}

.indexServico {
    color: transparent;
    font-size: 130px;
    font-family: 'Lalezar', cursive;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #FFB000;
    margin-bottom: -100px;
    margin-top: -50px;
    position: relative;
}

.imgServico {
    margin-left: 30px;
}

.divDescServico {
    flex-direction: column;
    display: flex;
    margin-top: 30px;
    width: 100%;
}

.titleServico {
    font-size: 30px;
    font-family: 'Lalezar', cursive;
    align-self: center;
}

.descServico {
    font-family: 'Niramit', sans-serif;
    font-size: 22px;
    text-align: center;
    align-self: center;
    color: #1A1859;
    width: 516px;
}

.btnQuantoCusta {
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0 5px 15px #FFFDFD;
    font-weight: 600;
    background-color: #F9AF1B;
    align-self: flex-end;
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    padding: 8px 40px;
}

.btnBodyActions:hover {
    background-color: #FFDC97!important;
    border-color: #FFDC97!important;
}

.btnBodyActions:active {
    background-color: #B07D17!important;
}

@media only screen and (max-width: 988px) {
    .divServico {
        flex-direction: column;
        width: auto;
    }
    .descServico {
        margin-left: 0;
        margin-right: 0;
        width: auto
    }
    .divImgServico {
        margin-left: 0;
        margin-right: 0;
        margin-left: -30px;
    }
    .imgServico {
        width: 98%;
    }
    .btnQuantoCusta {
        font-size: 14px;
    }
}